@tailwind base;
@tailwind components;
@tailwind utilities;

#city-list button {
  padding: 8px 8px 8px 32px;
  font-size: 20px;
  color: #fff;
  display: block;
  width: 100%;
  text-align: left;
}

#city-list button:hover {
  color: gray;
  cursor: pointer;
  background-color: #2680c2;
}

.hourly-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100px !important;
  border-radius: 50px;
  color: white;
  margin: 5px;
}

.time {
  font-size: 18px;
  margin: 0%;
}

.hourly-temperature {
  font-size: 15px;
  margin: 0%;
}

.weather-icon {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}
