@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family:monospace, monaco;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

header {
  background-image: linear-gradient(to right, #2680c2, #53bce9, whitesmoke);
  color: whitesmoke;
  flex: 0 0 50px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

h1 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

#map {
  flex: 1;
  height: 95vh;
}

.container {
  container-type: inline-size;
  container-name: location-container;
}

.location-container {
  position: absolute;
  display: flex;
  bottom: -110%;
  width: 100vw;
  height: 60vh;
  z-index: 1000;
  background-color: rgb(25, 133, 149);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: bottom 0.5s ease;
  overflow-y: hidden; 
}

#location-container.show {
  bottom: -25vh;
  transition: bottom 0.5s ease;
}

@media screen and (min-width: 1025px ) {
  #location-container {
    height: 94vh;
    width: 20vw;
    border-radius: 20px 0 0 20px;
    right: -100%;
    transition: right 0.5s ease;
    overflow-x: hidden;
  }

  #location-container.show {
    right: 0;
    bottom: 0;
    transition: right 0.5s ease;
  }
}

#city-name {
  color: white;
  font: 1rem sans-serif;
  margin: 20px;
  font-weight: bold;
  font-size: 18px;
}

#weather-circle {
  top: 10px;
  right: 10px;
  height: 170px;
  width: 170px;
  aspect-ratio: 1/1;
  outline: 8px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: rgb(19, 87, 126);
  display: flex;
  cursor: pointer;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

@media screen and (min-width: 1025px ) {
  #weather-circle {
    height: 200px;
    width: 200px;
    right: 0;
    top: 0;
  }
}

#daily-weather-container-overlay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-right-radius: 0;
  overflow-y: hidden; 
}

@media screen and (min-width: 1025px ) {
  #daily-weather-container-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-right-radius: 0;
  }
}

#daily-weather-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover; 
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
  overflow-y: hidden; 
}

@media screen and (min-width: 1025px ) {
  #daily-weather-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover; 
    border-top-right-radius: 0;
  }
}

#weather {
  font: 1rem sans-serif;
  margin: 0;
}

#temperature {
  font: 5rem sans-serif;
  margin: 0;
}

#temperature-range {
  font: 1rem sans-serif;
  margin: 0;
}

#see-more {
  position: absolute;
  bottom: 0;
  color: white;
  font: 1rem sans-serif;
  text-decoration: none;
  margin-top: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

menu {
  padding: 0%;
}

#city-list {
  height: calc(100vh - 200px);
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to right, #2680c2, #53bce9);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: width 0.5s;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

@media screen and (min-width: 1025px ) {
  #city-list {
    right: auto;
    left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
}

#city-list button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
  width: 100%;
  text-align: left;

}

#city-list button:hover {
  color: whitesmoke;
  cursor: pointer;
  background-color: #2680c2;
}

#city-list .close-button {
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#city-list .close-button:hover{
  background-color: transparent;
  color: grey;
}

.buttons-container {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 1004;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 1025px ) {
  .buttons-container {
    right: auto;
    left: 50px;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #bababa;
  border-radius: 2px;
  color: #2680c2;
  font-size: 20px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.button:hover {
  background-color: #2680c2;
  color: #fff;
}

.clicked-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2680c2;
  border: 2px solid #ccc;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.clicked-button:hover {
  color: #2680c2;
  background-color: #fff;
}

.openbtn:hover {
  background-color: #b2b0b0;
}

.hand-pointer {
  cursor: pointer;
}

.default-cursor {
  cursor: default;
}

#hourly-weather-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#F8C68C, yellow);
  height: 25vh;
  width: 100%;
  z-index: 2000;
  bottom: 0;
}

@media screen and (min-width: 1025px ) {
  #hourly-weather-container {
    height: 40vh;
  }
}

#hourly-weather-list {
  display: flex;
  overflow-x: auto;
}

.hourly-weather { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100px !important;
  border-radius: 50px;
  color: white;
  margin: 5px;
}

.time {
  font-size: 18px;
  margin: 0%;
}

.hourly-temperature {
  font-size: 15px;
  margin: 0%;
}

.weather-icon {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}